# Xcode
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcuserstate
*.log

# Build
build/
DerivedData/

# Swift Package Manager
/.build/
/Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Other files
*.swp
.DS_Store
